{% extends "baseProcafe.html" %}

{% block content %}
	<div class="row clearfix">
		<div class="col-md-8 column well">
			<div class="page-header">
				<h1>
					Manejo de los extintores
				</h1>
			</div>
			<div class="row clearfix">
					<div class="embed-responsive embed-responsive-4by3">
						<iframe width="420" height="315" src="https://www.youtube.com/embed/voBkeS_TxTg" frameborder="0" allowfullscreen></iframe>
					</div>
					<br><br>
					<dl>
						<dt>
							Ubicación
						</dt>
						<dd>
							Edif. Ciencias Básicas II-Piso 1
						</dd>
						<dt>
							Período
						</dt>
						<dd>
							Fecha de inicio: 25-3-2015
						</dd>
						<dd>
							Fecha de fin: 16-4-2015
						</dd>
						<dt>
							Día y Hora
						</dt>
						<dd>
							Lunes y martes a las 3:00pm
						</dd>
						<dt>
							Instructor
						</dt>
						<dd>
							Pedro Pérez
						</dd>
						</dl> <button type="button" class="btn btn-default">Inscribirse en este curso</button>

			</div>
			<p>
				<br />
				Un extintor, extintor de fuego, o matafuego es un artefacto que sirve para apagar fuegos. Consiste en un recipiente metálico (bombona o cilindro de acero) que contiene un agente extintor de incendios a presión, de modo que al abrir una válvula el agente sale por una boquilla (a veces situada en el extremo de una manguera) que se debe dirigir a la base del fuego. Generalmente tienen un dispositivo para prevención de activado accidental, el cual debe ser deshabilitado antes de emplear el artefacto.
				<br />
				De forma más concreta se podría definir un extintor como un aparato autónomo, diseñado como un cilindro, que puede ser desplazado por una sola persona y que usando un mecanismo de impulsión bajo presión de un gas o presión mecánica, lanza un agente extintor hacia la base del fuego, para lograr extinguirlo.
				<br />
				Los hay de muchos tamaños y tipos, desde los muy pequeños, que suelen llevarse en los automóviles, hasta los grandes que van en un carrito con ruedas. El contenido varía desde 1 a 250 kilogramos de agente extintor.
			</p>
		</div>
		<div class="col-md-4 column">
			<h2>
				Cursos Disponibles
			</h2>
			<select multiple class="form-control" style="height:600px">
				<option>Manejo de podadoras</option>
				<option>Manejo de extintores</option>
				<option>Seguridad en las escaleras</option>
				<option>Uso del chaleco protector</option>
				<option>Limpieza de equipos</option>
			</select>
		</div>
	</div>
{% endblock %}
