{% extends "baseProcafe.html" %}


{% block content %}
<div class="row clearfix">
	<div class="col-md-10 column">
		<div class="page-header">
			<h3>
				Datos incompletos
			</h3>
		</div>
		<div class="row clearfix">
			<div class="col-md-10 column">
					<h3>
						Ingrese sus datos
					</h3>
				<br />
			
        <form role="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
{% for field in form %}
  <div>
  
      {% if field.name = 'paysheet' or field.name = 'type' or field.name = 'location' or field.name = 'position' or field.name = 'sex' %} 
      {{ field.errors }}
	<select class="form-control" name="{{field.name}}">
		<option value="" disabled selected>{{field.label}}</option>
		{% for choice in field.field.choices %}
			<option value="{{choice.0}}">{{choice.1}}</option> 
		{% endfor %}
	</select>
    {% else %}      
    
      {{ field.errors }}
      <!--{{ field.label_tag }}-->
      {{ field }}
    {% endif %}
  
  <p></p>
  </div>
{% endfor %}
            <div><input type="submit" value="Cargar" /><div/>
        </form>
        
 </div></div>
			
{% endblock %}