{% extends "baseProcafe.html" %}


{% block content %}

<p>
<b>Direccion de Seguridad Integral</b>
<p>
<p class="text-justify">
Tiene como misión desarrollar, implantar y mantener un programa continuo de Seguridad Integral en las áreas de Seguridad Ciudadana y Seguridad Industrial e Higiene en el Trabajo, haciendo uso del recurso humano más calificado y la mejor tecnología de vanguardia, a fin de garantizar la seguridad y la integridad de las personas, instalaciones y bienes que conforman la Universidad Simón Bolívar, en todo su radio de acción. Está conformada por: el Centro de Operaciones Integradas, Programa de Seguridad Integral, Higiene y Ambiente, Programa de Seguridad Ciudadana y Cuerpo de Bomberos Voluntarios USB.
</p>

{% endblock %}

