{% extends "baseProcafe.html" %}


{% block content %}

<p>
<b>Direccion de Seguridad Integral</b>
<p>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis ipsum nec libero auctor efficitur a sed urna. In hac habitasse platea dictumst. Ut mollis neque justo, id ultrices nunc sagittis vitae. Vestibulum ullamcorper id tellus sit amet commodo. Nullam convallis a mi at cursus. Nunc euismod feugiat felis, maximus dignissim dolor vehicula sit amet. Nullam erat odio, pretium sed diam in, ultricies fringilla massa. Duis laoreet tellus nec tincidunt tempor. Maecenas ut quam in tellus dapibus tempor.
</p>
<p>
<b>Misión:</b>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis ipsum nec libero auctor efficitur a sed urna. In hac habitasse platea dictumst. Ut mollis neque justo, id ultrices nunc sagittis vitae. Vestibulum ullamcorper id tellus sit amet commodo. Nullam convallis a mi at cursus. Nunc euismod feugiat felis, maximus dignissim dolor vehicula sit amet. Nullam erat odio, pretium sed diam in, ultricies fringilla massa. Duis laoreet tellus nec tincidunt tempor. Maecenas ut quam in tellus dapibus tempor.
</p>
<p>
<b>Visión:</b>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis ipsum nec libero auctor efficitur a sed urna. In hac habitasse platea dictumst. Ut mollis neque justo, id ultrices nunc sagittis vitae. Vestibulum ullamcorper id tellus sit amet commodo. Nullam convallis a mi at cursus. Nunc euismod feugiat felis, maximus dignissim dolor vehicula sit amet. Nullam erat odio, pretium sed diam in, ultricies fringilla massa. Duis laoreet tellus nec tincidunt tempor. Maecenas ut quam in tellus dapibus tempor.
</p>

{% endblock %}

