{% extends "baseProcafe.html" %}

{% block content %}
<div class="row clearfix">
	<div class="col-md-12 column">
		<div class="page-header">
			<h1>
				Información Personal
			</h1>
		</div>
	</div>
</div>
<div class="row clearfix">
	<div class="col-md-3 column">
		<img alt="160x160" src="http://lorempixel.com/160/160/">
		<h3>
			John Smith
		</h3> <address> <strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> San Francisco, CA 94107<br> <abbr title="Phone">P:</abbr> (123) 456-7890</address>
	</div>
	<div class="col-md-5 column">
		<dl>
			<dt>
				Nombre(s)
			</dt>
			<dd>
				John
			</dd>
			<dt>
				Apellido(s)
			</dt>
			<dd>
				Smith
			</dd>
			<dt>
				Cédula de Identidad
			</dt>
			<dd>
				12
			</dd>
			<dt>
				Biografía
			</dt>
			<dd>
				Soy un empleado del Departamento de Seguridad Integral de la Universidad Simón Bolívar. He trabajado aquí por más de 5 años.
			</dd>
			<dt>
				Cargo
			</dt>
			<dd>
				Trabajador
			</dd>
			<dt>
				Sexo
			</dt>
			<dd>
				Masculino
			</dd>
			<dt>
				Edad
			</dt>
			<dd>
				36
			</dd>
			<br />
			<dt>
				Correo Electrónico
			</dt>
			<dd>
				johnsmith85@gmail.com
			</dd>
			<dt>
				Teléfono
			</dt>
			<dd>
				Casa: 0212-5557788
			</dd>
			<dd>
				Celular: 0424-3332211
			</dd>
			<dt>
				Departamento u Oficina
			</dt>
			<dd>
				Departamento de Seguridad Integral, CB2 Piso 1, CB2-104
			</dd>
		</dl>
	</div>
	<div class="col-md-4 column">
		<ul class="nav nav-stacked nav-pills">
			<li class="active">
				<a>Opciones de perfil</a>
			</li>
			<li class="dropdown">
				 <a href="#" data-toggle="dropdown" class="dropdown-toggle">Mis cursos<strong class="caret"></strong></a>
				<ul class="dropdown-menu">
					<li>
						<a href="#">Trimestre actual</a>
					</li>
					<li>
						<a href="#">Trimestres pasados</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#editprofile">Editar perfil</a>
			</li>
			<li>
				<a href="#">Preferencias</a>
			</li>
		</ul>
	</div>
</div>
{% endblock %}
