<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- TemplateBeginEditable name="doctitle" -->
<title>Untitled Document</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
</head>

<body>
<p><img src="{{ STATIC_URL }}banner.jpg" width="1140" height="150" /></p>

<table width="815" height="388" border="0" cellspacing="0">
  <tr>
    <td height="28" colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td width="75" height="255">&nbsp;</td>
    <td width="67" bgcolor="#CCCCCC">&nbsp;</td>
    <td width="381" bgcolor="#CCCCCC">

      <p>&nbsp;</p>
      <h1><strong>Registrarse en el Sistema</strong></h1>
      	<form method="post" action="/signup/">
      	{% csrf_token %}
      	<label for="id_id">Cedula de identidad:</label> <br>
    	<input id="id_id" name="id" type="number" /> <br><br>
       
      	<input type="submit" name="IniciarSeccion" id="IniciarSeccion" value="Continuar" />
      	{% if failure %}
      		<p> {{ failure }} </p>
      	{% endif %}
      </form>
      <p>
      <p>&nbsp;</p> 
         </p>
  </td>
    <td width="284" colspan="3" rowspan="4">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
