{% extends "baseProcafe.html" %}


{% block content %}
  </script>
<div class="row clearfix">
	<div class="col-md-10 column">
		<div class="page-header">
			<h3>
				Solicitud de Registro y Activación de Cuenta
			</h3>
		</div>
		<div class="row clearfix">
			<div class="col-md-10 column">
						<h3>
							{% if not failure %}
								Introduzca su número de cédula
							{% elif success%}
								Éxito en la creacion de la solicitud
							{% else %}
								Planilla de Solicitud de Registro
							{% endif %}
						</h3>
						<br />
						<form role="form" method="post">
							{% if not failure %}
								{% csrf_token %}
								{% for field in form %}
								<div class="form-group">
									<div class="col-sm-9">
										{{ field }}
										<span class='error' id='{{field.name}}_error' aria-live="polite"></span>
										{% if field.error %}
									 		<p>{{ field.error }}</p>
									 	{% else %}
									 		<p></p>
									 	{% endif %}
									</div>
								</div>
								{% endfor %}
							{% elif success %}
								<p>Revise su correo electrónico</p>
							{% else %}
								<div class="form-group">
									<div class="col-sm-10">
										<p style="color:red">{{ failure }}</p>
										<br />
									</div>
								</div>
								<br />
								{% csrf_token %}
								{% for field in application %}
								<div class="form-group">
									<div class="col-sm-9">
										{% ifnotequal field.name "location" %}
										{% ifnotequal field.name "position" %}
										{% ifnotequal field.name "paysheet" %}
										{% ifnotequal field.name "type" %}
										{% ifnotequal field.name "sex" %}
										{% ifnotequal field.name "birthdate" %}
											{{ field }}
											<span class='error' id='{{field.name}}_error' aria-live="polite"></span>
										{% else %}
											<div class='input-group date' id='datepicker'>
											{{ field }}
											<span class="input-group-addon" id="datepicker">
											<span class="glyphicon glyphicon-calendar"></span>
                    						</span>
											<span class='error' id='{{field.name}}_error' aria-live="polite"></span>
											</div>
										{% endifnotequal %}
										{% else %}
											<select class="form-control" name="{{field.name}}">
												<option value="" disabled selected>{{field.label}}</option>
												{% for choice in application.sex.field.choices %}
													<option value="{{choice.0}}">{{choice.1}}</option> 
												{% endfor %}
											</select>
										{% endifnotequal %}
										{% else %}
											<select class="form-control" name="{{field.name}}">
												<option value="" disabled selected>{{field.label}}</option>
												{% for choice in application.type.field.choices %}
													<option value="{{choice.0}}">{{choice.1}}</option> 
												{% endfor %}
											</select>
										{% endifnotequal %}
										{% else %}
											<select class="form-control" name="{{field.name}}">
												<option value="" disabled selected>{{field.label}}</option>
												{% for choice in application.paysheet.field.choices %}
													<option value="{{choice.0}}">{{choice.1}}</option> 
												{% endfor %}
											</select>
										{% endifnotequal %}
										{% else %}
											<select class="form-control" name="{{field.name}}">
												<option value="" disabled selected>{{field.label}}</option>
												{% for choice in application.position.field.choices %}
													<option value="{{choice.0}}">{{choice.1}}</option> 
												{% endfor %}
											</select>
										{% endifnotequal %}
										{% else %}
											<select class="form-control" name="{{field.name}}">
												<option value="" disabled selected>{{field.label}}</option>
												{% for choice in application.location.field.choices %}
													<option value="{{choice.0}}">{{choice.1}}</option> 
												{% endfor %}
											</select>
										{% endifnotequal %}
										{% if field.error %}
									 		<p>{{ field.error }}</p>
									 	{% else %}
									 		<p></p>
									 	{% endif %}
									</div>
								</div>
								{% endfor %}
							{% endif %}
							{% if failure %}
							{% endif %}
							{% if not success %}
							<div class="form-group">
								<div class="col-sm-10">
									 <button type="submit" class="btn btn-default">Solicitar</button>
								</div>
							</div>
							{% endif %}
						</form>
					</div>
				</form>
			</div>
		</div>
	</div>
	
							<script>

   	var inputs = document.getElementsByTagName("input");
    var inputs_len = inputs.length;
    var addDirtyClass = function(evt) {
	  evt.srcElement.classList.toggle("dirty", true);
    };
    for (var i = 0; i < inputs_len; i++) {
      var input = inputs[i];
      input.addEventListener("focus", addDirtyClass);
      input.addEventListener("invalid", addDirtyClass);
      input.addEventListener("valid", addDirtyClass);
    }

	function verifyPattern(input, error, error_message) {
		if (input.validity.valid) {
			error.innerHTML = ""; // Reset the content of the message
			error.className = "error"; // Reset the visual state of the message
		}
		else {
			if (input.validity.rangeUnderflow) {
				error.innerHTML = "El minimo valor de este campo debe ser " + input.getAttribute('min');
			}
			else if (input.validity.rangeOverflow) {
				error.innerHTML = "El maximo valor de este campo debe ser " + input.getAttribute('min');
			}
			else if (input.validity.tooLong) {
				error.innerHTML = "Este campo debe tener un maximo de " + input.getAttribute('maxlength') + "caracteres";
			}
			else {
				error.innerHTML = error_message;
			}
			error.className = "error active";
		}
	};


	{% for field in application %}
		var error_{{ field.name }} = document.getElementById('{{ field.name }}_error')
		var {{ field.name }} = document.getElementById('id_{{ field.name }}');
		{{ field.name }}.addEventListener('blur', function (event) {
			verifyPattern({{ field.name }}, error_{{ field.name }}, {{ field.name }}.getAttribute('message'));
		}, false);

		{{ field.name }}.addEventListener('focus', function (event) {
			error_{{ field.name}}.innerHTML = ""; // Reset the content of the message
			error_{{ field.name}}.className = "error"; // Reset the visual state of the message
		}, false);

	{% endfor %}
	
	{% for field in form %}
		var error_{{ field.name }} = document.getElementById('{{ field.name }}_error')
		var {{ field.name }} = document.getElementById('id_{{ field.name }}');
		{{ field.name }}.addEventListener('blur', function (event) {
			verifyPattern({{ field.name }}, error_{{ field.name }}, {{ field.name }}.getAttribute('message'));
		}, false);

		{{ field.name }}.addEventListener('focus', function (event) {
			error_{{ field.name}}.innerHTML = ""; // Reset the content of the message
			error_{{ field.name}}.className = "error"; // Reset the visual state of the message
		}, false);

	{% endfor %}

</script>

        <script type="text/javascript">
            $(function () {
                $('#datetimepicker').datetimepicker();
            });
        </script>

{% endblock %}
