body {
    background-color: white;
}

.container {
	background-color: #FFFFFF;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}