{% load admin_static %}{% load firstof from future %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"es" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-datetimepicker.min.css" />
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->

<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css" />

    
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
  <link href="{% static 'favicon.ico'%}" rel="shortcut icon" type="image/vnd.microsoft.icon">
  

  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/scripts.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datetimepicker.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/moment.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/transition.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/collapse.js"></script>



      <script>
    $(function() {
        $('#datepicker1,datepicker2').datepicker({
          "format": "yyyy-mm-dd"
          }
          )
        }
    );

  </script>

  <style>
    #container     {width:30ex; outline:1px solid black; padding:0 .2em; background:white;}
    #container>div {display:inline-block; margin:.2em 0; background:#fca;}
</style>
    
{% block extrastyle %}
{% endblock %}
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% static "admin/css/ie.css" %}{% endblock %}" /><![endif]-->
{% if LANGUAGE_BIDI %}
	<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />
{% endif %}
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "{% filter escapejs %}{% now "Z" %}{% endfilter %}";</script>
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}



</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

<!-- Container -->


<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column nopadding">
            <a href="/appProcafe/"><img class="img-responsive" src="{{ STATIC_URL }}banner.jpg" width="1140" height="150" /></a>
        </div>
    </div>
    <br><br>
    <div class="row clearfix">
        <div class="container">
            <div class="col-md-2 column">
                <div>
                    <p align="right">
                         <b><a href="/">Dirección</a></b>
                    </p>
                    {% if user.is_authenticated %}
                        <p align="right">
                             <b><a href="/admin">Administración</a>    </b>    
                        </p>
                        <p align="right">
                             <b><a href="/appProcafe/loadEmployees">Cargar Nómina</a>    </b>    
                        </p>
                        <p align="right">
                             <b><a href='/appProcafe/CourseAprove'>Administración de cursos</a>    </b><br />
                             <b><a href='/appProcafe/CourseRequest' class='submenu-item'>Solicitud de creación de cursos</a></b><br />
                             <b><a href='/appProcafe/CourseChangeview1' class='submenu-item'>Modificación de cursos</a></b>
                        </p>
                        {% if not user.is_superuser %}
                        <p align="right">
                             <b><a href="/appProcafe/profile">Perfil</a>    </b>    
                        </p>
                        {% endif %}
                        <p align="right">
                             <b><a href="/appProcafe/courses">Cursos</a>    </b>    
                        </p>
                        <p align="right">
                             <b><a href="/appProcafe/contact">Contacto</a></b>   
                        </p>
                        <p align="right">
                             <b><a href="/appProcafe/logout">Salir</a>  </b>    
                        </p>
                    {% else %}
                        <p align="right">
                             <b><a href="/appProcafe/login">Iniciar Sesión</a>  </b>    
                        </p>
                        <p align="right">
                             <b><a href="/appProcafe/courses">Cursos</a>    </b>    
                        </p>
                        <p align="right">
                             <b><a href="/appProcafe/contact">Contacto</a></b>   
                        </p>
                    {% endif %}
                    
                </div>
            </div>
            <div class="col-md-10 column">

                {% if not is_popup %}
                <!-- Header -->
                <!-- END Header -->
                {% block breadcrumbs %}
                <div class="breadcrumbs">
                <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
                {% if title %} &rsaquo; {{ title }}{% endif %}
                </div>
                {% endblock %}
                {% endif %}

                {% block messages %}
                    {% if messages %}
                    <ul class="messagelist">{% for message in messages %}
                      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                    {% endfor %}</ul>
                    {% endif %}
                {% endblock messages %}

                <!-- Content -->
                <div id="content" class="{% block coltype %}colM{% endblock %}">
                    {% block pretitle %}{% endblock %}
                    {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
                    {% block content %}
                    {% block object-tools %}{% endblock %}
                    {{ content }}
                    {% endblock %}
                    {% block sidebar %}{% endblock %}
                    <br class="clear" />
                </div>
                <!-- END Content -->

                {% block footer %}<div id="footer"></div>{% endblock %}
                </div>
            </div>  
            <div class="col-md-2 column">
                    <img src="{{ STATIC_URL }}sticker.png" width="300" height="150"  />
            </div>
        </div>
    </div>

    <div class="row clearfix"   >
        <div class="col-md-12 column">
            <p align="center">
                <a href="http://www.usb.ve/home/node/68" data-cke-saved-href="http://www.usb.ve/home/node/68">e-virtual</a> | <a target="_blank" href="https://webmail.usb.ve/" data-cke-saved-href="https://webmail.usb.ve/">Correo</a> |<a href="https://esopo.usb.ve/" data-cke-saved-href="https://esopo.usb.ve">esopo</a> |<a target="_blank" href="http://www.youtube.com/canalusb" data-cke-saved-href="http://www.youtube.com/canalusb">canalUSB</a> | <a target="_blank" href="http://www.usb.ve/agenda.php" data-cke-saved-href="http://www.usb.ve/agenda.php">Agenda Cultural</a> | <a target="_blank" href="http://usbnoticias.info/" data-cke-saved-href="http://usbnoticias.info/">USBnoticias</a> |<span> </span><span> </span><a href="http://www.usb.ve/home/node/55" data-cke-saved-href="http://www.usb.ve/home/node/55">Calendario</a> |<br />
                Sede Sartenejas, Baruta, Edo. Miranda - Apartado 89000 - Cable Unibolivar - Caracas Venezuela. Tel&eacute;fono +58 0212-9063111<br />
                Sede Litoral, Camur&iacute; Grande, Edo. Vargas Parroquia Naiguat&aacute;. Tel&eacute;fono +58 0212-9069000<br />
                Dise&ntilde;ada y desarrollada por estudiantes de Sistemas de Información. <a href="coffeesystemsusb@gmail.com" data-cke-saved-href="mailto:coffeesystemsusb@gmail.com">coffeesystemsusb@gmail.com</a>
            </p>
        </div>
</div>
<!-- END Container -->
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
</body>
</html>
